logs
project/project
project/target
target
.history
.idea
*.iml
/out
.idea_modules
.classpath
.project
.settings

.~*
*~
*.orig
*.marks

.scala_dependencies
.buildpath
.cache
.target
bin/
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
